.section-categories {
    background-image: url("../images/images/istockphoto-684771318-170667a.jpg");
    background-size: cover;
    position: relative;
}

.section-categories > div {
    padding-top: 1.5rem;
    width: 374px;
}
.section-categories .bnt-categories {
    background: var(--color-red);
    color: white;
    padding: 1rem 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 6px;
}
.bg-white {
    background: var(--color-white);
}
.main-categories {
    flex-direction: column;
    gap: 3rem;
}

.section-categories .bnt-categories img {
    width: 26px;
}
.trie {
    width: 80vw;
    padding: 1rem 0;
}
.trie form {
    justify-content: center;
    gap: 1rem;
}
#pet-select {
    width: 229px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}
.categories-articles {
    width: 80vw;
    padding: 2rem 0;
}
.categories-articles .article-img {
    width: 250px;
}

.categories-articles .article-favoris {
    top: 20rem;
}
.explore-offre {
    position: absolute;
    top: 86px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
    background: #525050;
    padding: 1rem 0;
}
.explore-offre > div {
    gap: 4rem;
    border: 1px solid white;
    padding: 1rem 1rem;
    border-radius: 6px;
}
.explore-offre > p {
    /* margin-bottom: 0; */
    color: var(--color-white);
}
