/* ///////////////////FOOTER ////////////////////////// */

footer .paiement img {
    display: inline-block;
    padding: 20px;
    width: 110;
    height: 80px;
}

footer .paiement .logo {
    width: 120px;
    height: 120px;
}

footer .paiement {
    background: var(--color-black);
    padding: 0 20px;
}

.footer {
    background: var(--color-black);
    padding: 30px;
}

.footer img {
    display: inline-block;
    width: 65px;
    height: 65px;
}

footer .bloc4 {
    background: var(--color-black);
    padding-bottom: 30px;
    flex-direction: column;
    gap: 15px;
}

footer .bloc4 button {
    background: var(--color-black);
    color: white;
    border: 1px solid white;
    padding: 7px;
    border-radius: 5px;
}

footer #email {
    width: 250px;
    min-height: 25px;
    border-radius: 5px;
}

footer .bloc1,
footer .bloc2,
footer .bloc3 {
    width: 33%;
    min-height: 220px;
}
.footer li {
    padding: 10px 0;
}

footer .newsletter p {
    color: white;
    margin-top: 15px;
}

footer .bloc3 img {
    padding: 10px;
}

footer .bloc3 h2 {
    text-align: center;
}

footer .reseau {
    justify-content: space-around;
}
footer .newsletter ::placeholder {
    padding: 5px;
}

footer .remove {
    display: none;
    color: white;
}

footer h2 {
    color: white;
}
@media (max-width: 980px) {
    .footer,
    footer .bloc1,
    footer .bloc2,
    footer .bloc3,
    footer .bloc4,
    footer .banque,
    footer .remove2,
    footer .search {
        display: none !important;
    }

    footer .paiement {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .remove {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        padding: 20px;
        background: none;
        flex-direction: column;
        gap: 15px;
    }

    footer .menu {
        display: block;
    }

    footer .relou {
        flex-direction: row;
        gap: 50px;
    }
}
