@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'League Spartan';
    background-color: #f5f5f7;
}

p,
label,
input[type=text],
input[type=button],
input[type=submit] {
    font-size: clamp(14px, 5vh, 18px);
    font-weight: 300;
}

.flex-pyt {
    display: flex;
    justify-content: center;
}

p,
label {
    font-size: clamp(14px, 5vh, 18px)
}

/* CSS PAYMENT BOX */
.payment-container-pyt {
    width: min(1440px, 100%);
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.payment-box1-pyt {
    flex-direction: column;
    min-height: 1080px;
    justify-content: space-evenly;
    width: min(690px, 100%);
    align-self: flex-start;
}

.payment-box1-pyt h1,
.promo-payment-pyt,
.email-payment-pyt,
.addr-livraison-payment-pyt,
.box-article-payment-pyt {
    background-color: white;
}

h1 {
    font-size: clamp(36px, 5vh, 40px);
}

h2 {
    font-size: clamp(22px, 5vh, 34px);
    font-weight: 400;
}

h3 {
    font-size: clamp(18px, 5vh, 24px);
    font-weight: 400;
}

.payment-box1-pyt h1,
.promo-payment-pyt,
.email-payment-pyt {
    width: min(690px, 100%);
    padding: 18px 0 18px 32px;
    font-weight: 400;
}

.email-payment-pyt {
    padding: 29px 0 29px 32px;
}

.promo-payment-pyt form label input[type=text] {
    width: min(255px, 100%);
    padding: 10px;
    border: .5px solid black;
}

.promo-payment-pyt form label input[type=button] {
    width: min(153px, 100%);
    padding: 10px;
    border: .5px solid black;
    background-color: #231F20;
    color: #ffffff;
}

.promo-payment-pyt form label input[type=button]:hover, .form-card-infos-pyt input[type=submit]:hover {
    background-color: #3b3639;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

/* PAYMENT ADDRESS CSS */

.addr-livraison-payment-pyt {
    width: (690px, 100%);
    min-height: 730px;
    padding: 32px 64px;
}

.addr-livraison-payment-pyt h1 {
    font-weight: 400;
}

.addr-livraison-payment-pyt hr {
    margin-top: 10px;
}

.addr-livraison-payment-pyt h3 {
    margin-top: 20px;
}

.addr-livraison-payment-pyt form {
    flex-direction: column;
    justify-content: space-around;
    height: 630px
}

.addr-livraison-payment-pyt .form-box-payment-pyt {
    flex-direction: column;
    gap: 5px;
}

.form-box-payment-pyt input[type=text],
.addr-livraison-payment-pyt form input[type=submit] {
    width: min(460px, 100%);
    padding: 10px 0;
}

.addr-livraison-payment-pyt form input[type=submit] {
    background-color: #231F20;
    color: #ffffff;
    border: none;
    padding: 12px 0;
}

.addr-livraison-payment-pyt form input[type=submit]:hover {
    background-color: #3b3639;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* CSS BOX ARTICLE */

.payment-box2-pyt {
    width: min(530px, 100%);
    min-height: 1080px;
    flex-direction: column;
    justify-content: space-between;
}

.box-article-payment-pyt {
    min-height: 500px;
    padding: 30px;
}

.box-article-payment-pyt h3 {
    margin-top: 50px;
    font-weight: 400;
}

.box-article-payment-pyt h3 span{
    margin-left: 100px;
}

.article-payment-pyt {
 margin: 38px 0;
 justify-content: space-between;
 align-items: center;
}

.article-textbox-pyt {
    width: min(250px, 100%);
    height: 200px;
    justify-content: space-around;
    flex-direction: column;
}

.article-textbox-pyt p span {
    margin-left: 20px;
}

.payment-box-pyt .card-infos-pyt {
    height: 430px;
    background-color: #ffffff;
}
.box-article-payment-pyt h2, .article-payment-pyt h3, .payment-box-pyt h2 {
    font-weight: 400;

}

/* CSS BOX PAYMENT CB */
.card-infos-pyt {
    padding: 48px;
}

.form-card-infos-pyt {
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
}

.form-card-infos-pyt input[type=submit] {
    width: min(434px, 100%);
    padding: 10px;
    border: .5px solid black;
    background-color: #231F20;
    color: #ffffff;
}

.form-card-infos-pyt .month-year-pyt select {
    background-color: #ffffff;
    border: .5px solid black;
    width: min(205px, 100%);
    padding: 14px;
    font-size: clamp(14px, 5vh, 16px);
}

.form-card-infos-pyt .month-year-pyt {
    justify-content: space-between;
}


@media (max-width: 950px) {
    body {
        padding: 0 16px;
    }
    
    .payment-container-pyt {
        flex-direction: column;
        margin: 0 auto;
    }
    .payment-box1-pyt {
        align-self: center;
        gap: 20px;
    }

    h2 {
        font-size: 28px;
        font-weight: 400;
    }

    .article-payment-pyt {
        flex-direction: column;
    }

    .article-payment-pyt img {
        min-width: 100%;
        height: 300px;
    }

}

@media (max-width: 450px) {

    body {
        padding: 0 16px;
    }

}


